html, body {
  height: 100vh;
  width: 96vw;
}

/* body > div.main > [div.top, div.matter] */

#main {
  width: 100%;
  height: auto;
}

#top, #matter {
  padding: 0.5vw;
  margin: 0.5vw;
  display: block;
  width: 100%;
}

#top span {
  font-weight: bold;
  font-size: 1.25em;
}

#top nav {
  text-align: right;
  float: right;
}

#matter {
  height: 100%;
}

button.action {
  padding: 0.25vw;
  margin: auto 0.25vw;
}

table#pg {
  width: 100%;
  height:100%;
  table-layout: fixed;
}

table#pg td:first-of-type {
  height: 100%;
  width: 48%;
}

table#pg td:last-of-type {
  height: 100%;
  width: 52%;
}

#pg-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  display: block;
}

#pg-text {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.3em;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}